<div class="seller-sidebar p-3 rounded-4 bg-light">
    <div class="fw-bold mb-2">會員中心</div>
    <div class="list-group list-group-flush mb-3">
        <a class="list-group-item list-group-item-action" asp-controller="Me" asp-action="Dashboard">會員中心</a>
        <a class="list-group-item list-group-item-action" asp-controller="Me" asp-action="Profile">帳號資訊</a>
        <a class="list-group-item list-group-item-action" asp-controller="Me" asp-action="Orders">訂單記錄</a>
        <a class="list-group-item list-group-item-action" asp-controller="Me" asp-action="Favorites">我的最愛</a>
        <a class="list-group-item list-group-item-action" asp-controller="Me" asp-action="Settings">設定</a>
    </div>

    <div class="fw-bold mb-2">我是賣家</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" asp-controller="Seller" asp-action="Dashboard">商店與商品管理首頁</a>
        <a class="list-group-item list-group-item-action" asp-controller="Seller" asp-action="Products">商品管理</a>
        <a class="list-group-item list-group-item-action" asp-controller="Seller" asp-action="Orders">訂單管理</a>
        <a class="list-group-item list-group-item-action active" asp-controller="Seller" asp-action="Shop_settings">店舖設定</a>
        <a class="list-group-item list-group-item-action" asp-controller="Seller" asp-action="Shop">店舖簡介</a>
    </div>
</div>