@{
	Layout = "_Layout2";
}
<div class="row g-0 auth-row">
    <div class="col-lg-6">
        <div class="auth-cover-wrapper bg-primary-100">
            <div class="auth-cover">
                <div class="title text-center">
                    <h1 class="text-primary mb-10">找回密碼</h1>
                    <p class="text-medium para-width-500 mx-auto">
                        輸入您的帳號或電子郵件找回您的密碼 
                    </p>
                </div>
                <div class="cover-image">
                    <img src="~/seller_assets/images/auth/reset-password.svg" alt="" />
                </div>
                <div class="shape-image">
                    <img src="~/seller_assets/images/auth/shape.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-lg-6">
        <div class="reset-password-wrapper">
            <div class="form-wrapper">
                <h6 class="mb-15">協助您找回密碼</h6>
                <p class="text-sm mb-25">
                    請輸入您的帳號或電子郵件來找回您的密碼
                </p>
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-style-1">
                                <input type="email" placeholder="Account/Email" />
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class="button-group d-flex justify-content-center flex-wrap">
                                <button class="main-btn primary-btn btn-hover w-100 text-center">
                                    繼續
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </form>
                <div class="d-flex justify-content-between flex-wrap pt-40">
                    <p>
                        還不是會員嗎?
                        <a class="hover-underline" asp-controller="Home" asp-action="Register">
                            註冊帳號
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
