
        <!-- ========== section start ========== -->
        <section>
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title d-flex align-items-center flex-wrap">
                                <h2 class="mr-40">新增商品</h2>
                                <a href="#0" class="main-btn primary-btn btn-hover btn-sm">
                            <i class="lni lni-plus mr-5"></i> 新增
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->
                <!-- ======== card style start ========== -->
                <div class="card-style px-0 mb-30">
                    <div class="title d-flex flex-wrap pl-30 pr-30 mb-10 align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <h6>排序:</h6>
                            <div class="select-style-1 mb-0 ml-10">
                                <div class="select-position">
                                    <select class="p-0 pe-5 border-0">
                                        <option value="">日期</option>
                                        <option value="">品名</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper table-responsive task-table">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-1" />
                                        </div>
                                    </td>
                                    <td class="min-width name-title">
                                        <h5 class="text-bold text-dark">
                                            Admin Dashboard Design
                                        </h5>
                                    </td>
                                    <td class="min-width">
                                        <p>
                                            <i class="lni lni-calendar mr-10"></i> 22 February,2024
                                        </p>
                                    </td>
                                    <td class="min-width">
                                        <p><i class="lni lni-comments mr-10"></i> 30 Messages</p>
                                    </td>
                                    <td class="min-width">
                                        <div class="employee-image mx-auto">
                                            <img src="assets/images/lead/lead-1.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <div class="action justify-content-end">
                                            <button class="text-dark link-btn">
                                                <i class="lni lni-link"></i>
                                            </button>
                                            <button class="text-dark delete-btn ml-10">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Mark as Read</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-2" />
                                        </div>
                                    </td>
                                    <td class="min-width name-title">
                                        <h5 class="text-bold text-dark">
                                            Web Development Services
                                        </h5>
                                    </td>
                                    <td class="min-width">
                                        <p>
                                            <i class="lni lni-calendar mr-10"></i> 22 February,2024
                                        </p>
                                    </td>
                                    <td class="min-width">
                                        <p><i class="lni lni-comments mr-10"></i> 30 Messages</p>
                                    </td>
                                    <td class="min-width">
                                        <div class="employee-image mx-auto">
                                            <img src="assets/images/lead/lead-2.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <div class="action justify-content-end">
                                            <button class="text-dark link-btn">
                                                <i class="lni lni-link"></i>
                                            </button>
                                            <button class="text-dark delete-btn ml-10">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction2" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction2">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Mark as Read</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-3" />
                                        </div>
                                    </td>
                                    <td class="min-width name-title">
                                        <h5 class="text-bold text-dark">
                                            Lindy UI KIt Landing Page Design
                                        </h5>
                                    </td>
                                    <td class="min-width">
                                        <p>
                                            <i class="lni lni-calendar mr-10"></i> 22 February,2024
                                        </p>
                                    </td>
                                    <td class="min-width">
                                        <p><i class="lni lni-comments mr-10"></i> 30 Messages</p>
                                    </td>
                                    <td class="min-width">
                                        <div class="employee-image mx-auto">
                                            <img src="assets/images/lead/lead-3.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <div class="action justify-content-end">
                                            <button class="text-dark link-btn">
                                                <i class="lni lni-link"></i>
                                            </button>
                                            <button class="text-dark delete-btn ml-10">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction3" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction3">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Mark as Read</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-4" />
                                        </div>
                                    </td>
                                    <td class="min-width name-title">
                                        <h5 class="text-bold text-dark">ios Mobile App Design</h5>
                                    </td>
                                    <td class="min-width">
                                        <p>
                                            <i class="lni lni-calendar mr-10"></i> 22 February,2024
                                        </p>
                                    </td>
                                    <td class="min-width">
                                        <p><i class="lni lni-comments mr-10"></i> 30 Messages</p>
                                    </td>
                                    <td class="min-width">
                                        <div class="employee-image mx-auto">
                                            <img src="assets/images/lead/lead-4.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <div class="action justify-content-end">
                                            <button class="text-dark link-btn">
                                                <i class="lni lni-link"></i>
                                            </button>
                                            <button class="text-dark delete-btn ml-10">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction4" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction4">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Mark as Read</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-5" />
                                        </div>
                                    </td>
                                    <td class="min-width name-title">
                                        <h5 class="text-bold text-dark">Product Landing Page</h5>
                                    </td>
                                    <td class="min-width">
                                        <p>
                                            <i class="lni lni-calendar mr-10"></i> 22 February,2024
                                        </p>
                                    </td>
                                    <td class="min-width">
                                        <p><i class="lni lni-comments mr-10"></i> 30 Messages</p>
                                    </td>
                                    <td class="min-width">
                                        <div class="employee-image mx-auto">
                                            <img src="assets/images/lead/lead-5.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <div class="action justify-content-end">
                                            <button class="text-dark link-btn">
                                                <i class="lni lni-link"></i>
                                            </button>
                                            <button class="text-dark delete-btn ml-10">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction5" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction5">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Mark as Read</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                                <tr>
                                    <td>
                                        <div class="check-input-primary">
                                            <input class="form-check-input" type="checkbox" id="checkbox-6" />
                                        </div>
                                    </td>
                                    <td class="min-width name-title">
                                        <h5 class="text-bold text-dark">
                                            Space multipurpose template
                                        </h5>
                                    </td>
                                    <td class="min-width">
                                        <p>
                                            <i class="lni lni-calendar mr-10"></i> 22 February,2024
                                        </p>
                                    </td>
                                    <td class="min-width">
                                        <p><i class="lni lni-comments mr-10"></i> 30 Messages</p>
                                    </td>
                                    <td class="min-width">
                                        <div class="employee-image mx-auto">
                                            <img src="assets/images/lead/lead-6.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <div class="action justify-content-end">
                                            <button class="text-dark link-btn">
                                                <i class="lni lni-link"></i>
                                            </button>
                                            <button class="text-dark delete-btn ml-10">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction6" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction6">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Mark as Read</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- ======== card style end ========== -->
               
            </div>
            <!-- end container -->
        </section>
        <!-- ========== section end ========== -->
   