@model Bake.ViewModel.ProductReviewCreateViewModel



<h2>評論商品</h2>

<div class="text-danger  mb-2">
    @Html.ValidationSummary()
</div>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @*隱藏但要留著*@
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="OrderId" />

    <div class="mb-3">
        <label class="form-label">評分</label>
        <select class="form-select" asp-for="UserRating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">請輸入評論</label>
        <textarea class="form-control" asp-for="Comment" required maxlength="1000"  rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-warning">儲存</button>
</form>