<div id="product">

    <div class="container-fluid">
        <div class="row py-3 justify-content-center">
            <div class="d-flex  justify-content-center align-items-center">
                <nav class="main-menu d-flex navbar navbar-expand-lg">

                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                        <div class="offcanvas-header justify-content-center">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">

                            <ul class="navbar-nav   menu-list list-unstyled d-flex gap-md-3 mb-0">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">餅乾</a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">蛋糕</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">布丁</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">麵包</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Accessories" asp-action="Accessories">甜甜圈</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">巧克力</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">糖果</a>
                            </ul>

                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>





    <section class="py-3" style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="banner-blocks">

                        <div class="banner-ad large bg-info block-1">

                            <div class="swiper main-swiper">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories my-3">100% natural</div>
                                                <h3 class="display-4">Fresh Smoothie & Summer Juice</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="~/images/product-thumb-1.png" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories mb-3 pb-3">100% natural</div>
                                                <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="~/images/product-thumb-1.png" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories mb-3 pb-3">100% natural</div>
                                                <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                                                <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="~/images/product-thumb-2.png" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                            </div>
                        </div>
                    </div>
                    <!-- / Banner Blocks -->

                </div>
            </div>
        </div>
    </section>

    @* <section class="py-5 overflow-hidden">
        <iv class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                        <h2 class="section-title">Category</h2>

                        <div class="d-flex align-items-center">
                            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                            <div class="swiper-buttons">
                                <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                                <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div> *@


            @* Category食物分類 *@
            @* <div class="row">
                <div class="col-md-12">

                    <div class="category-carousel swiper">
                        <div class="swiper-wrapper">
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-bread-baguette.png" alt="Category Thumbnail">
                                <h3 class="category-title">Breads & Sweets</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-soft-drinks-bottle.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-wine-glass-bottle.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-animal-products-drumsticks.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-bread-herb-flour.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="~/images/icon-vegetables-broccoli.png" alt="Category Thumbnail">
                                <h3 class="category-title">Fruits & Veges</h3>
                            </a>

                        </div>
                    </div>

                </div>
            </div> *@

    </section>


    <section class="py-5">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <div class="bootstrap-tabs product-tabs">
                        <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                            <h3>熱門商品</h3>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" value="default">全部</a>
                                    <a href="#" class="nav-link text-uppercase fs-6" id="nav-fruits-tab" data-bs-toggle="tab" data-bs-target="#nav-fruits" ">法式</a>
                                    <a href="#" class="nav-link text-uppercase fs-6" id="nav-juices-tab" data-bs-toggle="tab" data-bs-target="#nav-juices" >日式</a>
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                    <!-- 單一商品 — 複製此區塊重複使用 -->
                                    <div class="col" v-for="product in productsByRating.slice(0,10)" :key="product.productId">
                                        <div class="product-item" value="rating">
                                            <span v-if="discountLabel(product.productDiscount)" class="badge bg-success position-absolute m-3">{{ discountLabel(product.productDiscount) }}</span>
                                            <a href="#" class="btn-wishlist">
                                                <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                            </a>
                                            <figure class="mb-3">
                                                <a :href="'/Products/Details/' + product.productId" title="Product Title">
                                                    <img :src="product.productImage" :alt="product.productName" class="tab-image">
                                                </a>
                                            </figure>
                                            <h3>{{product.productName }}</h3>
                                            <span class="qty">{{ product.shopName }}</span>
                                            <span class="rating">
                                                <iconify-icon icon="ph:star-fill" style="color:#FFC43F; font-size:16px; vertical-align:-2px;"></iconify-icon>
                                                {{ product.productRating }}
                                            </span>
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="price">NT${{ product.productPrice }}</span>
                                                <del v-if="originalPrice(product.productPrice, product.productDiscount)" class="text-muted small">
                                                    NT${{ originalPrice(product.productPrice, product.productDiscount) }}
                                                </del>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="input-group product-qty">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                        </button>
                                                    </span>
                                                </div>
                                                <a href="#" class="btn btn-danger btn-sm w-20 mt-1">加入購物車 <iconify-icon icon="uil:shopping-cart"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / 單一商品 -->

                                </div>
                                <!-- / product-grid -->

                            </div>

                            <div class="tab-pane fade" id="nav-fruits" role="tabpanel" aria-labelledby="nav-fruits-tab">

                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                    <!-- 單一商品 — 複製此區塊重複使用 -->
                                    <div class="col" v-for="product in products.slice(0, 10)" :key="product.productId">
                                        <div class="product-item">
                                            <span v-if="discountLabel(product.productDiscount)" class="badge bg-success position-absolute m-3">{{ discountLabel(product.productDiscount) }}</span>
                                            <a href="#" class="btn-wishlist">
                                                <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                            </a>
                                            <figure class="mb-3">
                                                <a :href="'Product/Details/'+product.productID" title="Product Title">
                                                    <img :src="product.productImage" :alt="product.productName" class="tab-image">
                                                </a>
                                            </figure>
                                            <h3>{{product.productName }}</h3>
                                            <span class="qty">{{ product.shopName }}</span>
                                            <span class="rating">
                                                <iconify-icon icon="ph:star-fill" style="color:#FFC43F; font-size:16px; vertical-align:-2px;"></iconify-icon>
                                                {{ product.productRating }}
                                            </span>
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="price">NT${{ product.productPrice }}</span>
                                                <del v-if="originalPrice(product.productPrice, product.productDiscount)" class="text-muted small">
                                                    NT${{ originalPrice(product.productPrice, product.productDiscount) }}
                                                </del>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="input-group product-qty">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                        </button>
                                                    </span>
                                                </div>
                                                <a href="#" class="btn btn-danger btn-sm w-20 mt-1">加入購物車 <iconify-icon icon="uil:shopping-cart"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / 單一商品 -->
                                </div>
                                <!-- / product-grid -->

                            </div>
                            <div class="tab-pane fade" id="nav-juices" role="tabpanel" aria-labelledby="nav-juices-tab">

                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                                    <!-- 單一商品 — 複製此區塊重複使用 -->
                                    <div class="col" v-for="product in products.slice(0, 10)" :key="product.productId">
                                        <div class="product-item">
                                            <span v-if="discountLabel(product.productDiscount)" class="badge bg-success position-absolute m-3">{{ discountLabel(product.productDiscount) }}</span>
                                            <a href="#" class="btn-wishlist">
                                                <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                            </a>
                                            <figure class="mb-3">
                                                <a :href="'/Products/Details/' + product.productId" title="Product Title">
                                                    <img :src="product.productImage" :alt="product.productName" class="tab-image">
                                                </a>
                                            </figure>
                                            <h3>{{product.productName }}</h3>
                                            <span class="qty">{{ product.shopName }}</span>
                                            <span class="rating">
                                                <iconify-icon icon="ph:star-fill" style="color:#FFC43F; font-size:16px; vertical-align:-2px;"></iconify-icon>
                                                {{ product.productRating }}
                                            </span>
                                            <div class="d-flex align-items-center gap-2">
                                                <span class="price">NT${{ product.productPrice }}</span>
                                                <del v-if="originalPrice(product.productPrice, product.productDiscount)" class="text-muted small">
                                                    NT${{ originalPrice(product.productPrice, product.productDiscount) }}
                                                </del>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="input-group product-qty">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                        </button>
                                                    </span>
                                                </div>
                                                <a href="#" class="btn btn-danger btn-sm w-20 mt-1">加入購物車 <iconify-icon icon="uil:shopping-cart"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / 單一商品 -->

                                </div>
                                <!-- / product-grid -->

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6">
                    <div class="banner-ad bg-danger mb-3" style="background: url('images/ad-image-3.png');background-repeat: no-repeat;background-position: right bottom;">
                        <div class="banner-content p-5">

                            <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                            <h3 class="banner-title">Luxa Dark Chocolate</h3>
                            <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                            <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-ad bg-info" style="background: url('images/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
                        <div class="banner-content p-5">

                            <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                            <h3 class="banner-title">Creamy Muffins</h3>
                            <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                            <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header d-flex flex-wrap justify-content-between my-5">

                        <h2 class="section-title">新品上市</h2>

                        <div class="d-flex align-items-center">
                            <a class="btn-link text-decoration-none" asp-area="" asp-controller="Products" asp-action="Index">查看更多</a>
                            <div class="swiper-buttons">
                                <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                                <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="products-carousel swiper">
                        <div class="swiper-wrapper">

                            <!-- 單一商品 — 複製此區塊重複使用 -->
                            <div class=" swiper-slide" v-for="product in productsByDate.slice(0, 10)" :key="product.productId">
                                <div class="product-item">
                                    <span v-if="discountLabel(product.productDiscount)" class="badge bg-success position-absolute m-3">{{ discountLabel(product.productDiscount) }}</span>
                                    <a href="#" class="btn-wishlist">
                                        <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                    </a>
                                    <figure class="mb-3">
                                        <a :href="'/Products/Details/' + product.productId" title="Product Title">
                                            <img :src="product.productImage" :alt="product.productName" class="tab-image">
                                        </a>
                                    </figure>
                                    <h3>{{product.productName }}</h3>
                                    <span class="qty">{{ product.shopName }}</span>
                                    <span class="rating">
                                        <iconify-icon icon="ph:star-fill" style="color:#FFC43F; font-size:16px; vertical-align:-2px;"></iconify-icon>
                                        {{ product.productRating }}
                                    </span>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="price">NT${{ product.productPrice }}</span>
                                        <del v-if="originalPrice(product.productPrice, product.productDiscount)" class="text-muted small">
                                            NT${{ originalPrice(product.productPrice, product.productDiscount) }}
                                        </del>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="input-group product-qty">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                                    <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                </button>
                                            </span>
                                        </div>
                                        <a href="#" class="btn btn-danger btn-sm w-20 mt-1">加入購物車 <iconify-icon icon="uil:shopping-cart"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- / 單一商品 -->

                        </div>
                    </div>
                    <!-- / products-carousel -->

                </div>
            </div>
        </div>
    </section>


    <section class="py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header d-flex justify-content-between">

                        <h2 class="section-title">推薦商品</h2>

                        <div class="d-flex align-items-center">
                            <a class="btn-link text-decoration-none" asp-area="" asp-controller="Products" asp-action="Index">查看更多</a>
                            <div class="swiper-buttons">
                                <button class="swiper-prev products-carousel2-prev btn btn-primary">❮</button>
                                <button class="swiper-next products-carousel2-next btn btn-primary">❯</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="products-carousel2 swiper">
                        <div class="swiper-wrapper">

                            <!-- 單一商品 — 複製此區塊重複使用 -->
                            <div class="swiper-slide" v-for="product in productsByDiscount.slice(0, 10)" :key="product.productId">
                                <div class="product-item">
                                    <span v-if="discountLabel(product.productDiscount)" class="badge bg-success position-absolute m-3">{{ discountLabel(product.productDiscount) }}</span>
                                    <a href="#" class="btn-wishlist">
                                        <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                    </a>
                                    <figure class="mb-3">
                                        <a :href="'/Products/Details/' + product.productId" title="Product Title">
                                            <img :src="product.productImage" :alt="product.productName" class="tab-image">
                                        </a>
                                    </figure>
                                    <h3>{{product.productName }}</h3>
                                    <span class="qty">{{ product.shopName }}</span>
                                    <span class="rating">
                                        <iconify-icon icon="ph:star-fill" style="color:#FFC43F; font-size:16px; vertical-align:-2px;"></iconify-icon>
                                        {{ product.productRating }}
                                    </span>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="price">NT${{ product.productPrice }}</span>
                                        <del v-if="originalPrice(product.productPrice, product.productDiscount)" class="text-muted small">
                                            NT${{ originalPrice(product.productPrice, product.productDiscount) }}
                                        </del>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="input-group product-qty">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                                    <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                </button>
                                            </span>
                                        </div>
                                        <a href="#" class="btn btn-danger btn-sm w-20 mt-1">加入購物車 <iconify-icon icon="uil:shopping-cart"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- / 單一商品 -->
                        </div>
                    </div>
                    <!-- / products-carousel -->

                </div>
            </div>
        </div>
    </section>

    <section class="py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header d-flex flex-wrap flex-wrap justify-content-between mb-5">

                        <h2 class="section-title">新商家推薦</h2>

                        <div class="d-flex align-items-center">
                            <a class="btn-link text-decoration-none" asp-area="" asp-controller="Products" asp-action="Index">查看更多</a>
                            <div class="swiper-buttons">
                                <button class="swiper-prev brand-carousel-prev btn btn-yellow">❮</button>
                                <button class="swiper-next brand-carousel-next btn btn-yellow">❯</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="brand-carousel swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="~/images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body py-0">
                                                <p class="text-muted mb-0">Amber Jar</p>
                                                <h5 class="card-title">Honey best nectar you wish to get</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="~/images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body py-0">
                                                <p class="text-muted mb-0">Amber Jar</p>
                                                <h5 class="card-title">Honey best nectar you wish to get</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="~/images/product-thumb-13.jpg" class="img-fluid rounded" alt="Card title">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body py-0">
                                                <p class="text-muted mb-0">Amber Jar</p>
                                                <h5 class="card-title">Honey best nectar you wish to get</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="~/images/product-thumb-14.jpg" class="img-fluid rounded" alt="Card title">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body py-0">
                                                <p class="text-muted mb-0">Amber Jar</p>
                                                <h5 class="card-title">Honey best nectar you wish to get</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="~/images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body py-0">
                                                <p class="text-muted mb-0">Amber Jar</p>
                                                <h5 class="card-title">Honey best nectar you wish to get</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="~/images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body py-0">
                                                <p class="text-muted mb-0">Amber Jar</p>
                                                <h5 class="card-title">Honey best nectar you wish to get</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts
{
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        const app=Vue.createApp({
            data(){
                return{
                    products: [],
                    product:{},
                    sortBy: 'default'
                }
            },
            methods: {
                discountLabel(discount) {
                if (!discount || discount <= 0) return null
                return `-${Math.round(discount * 100)}%`   // 0.20 → "-20%"
                },
                originalPrice(price, discount) {
                if (!discount || discount <= 0) return null
                return Math.round(price / (1 - discount))  // 100 / 0.8 = 125
                }

            },
            computed:{

                 productsByRating(){
                 return [...this.products].sort((a,b)=> b.productRating - a.productRating)
                 },
                 productsByDate(){
                 return [...this.products].sort((a,b)=> new Date(b.productRating)  - new Date(a.productRating))
                 },
                 productsByDiscount(){
                 return [...this.products].sort((a,b)=> b.productDiscount - a.productDiscount)
                 }

            },
            async mounted() {

                const res = await fetch('/api/Product/Get')
                this.products = await res.json()

                // 等 Vue 把 DOM 更新完再通知 Swiper
                this.$nextTick(() => {
                    if (document.querySelector('.products-carousel')?.swiper) {
                        document.querySelector('.products-carousel').swiper.update()
                    }
                    if (document.querySelector('.products-carousel2')?.swiper) {
                    document.querySelector('.products-carousel2').swiper.update()
                    }
                })
            }
        });
        app.mount('#product');
    </script>

}

@* <section class="py-5">
    <div class="container-fluid">
        <h4 class="my-5">人們也在考慮</h4>
        <a href="#" class="btn btn-warning me-2 mb-2">Blue diamon almonds</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Blue diamon almonds</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
    </div>
</section> *@