@model Bake.Areas.Seller.ViewModels.SettingsViewModel

@{
	ViewBag.Title = "個人資料設定";
}
<section class="section">
	<div class="container-fluid">
		<!-- ========== title-wrapper start ========== -->
		<div class="title-wrapper pt-30">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="title">
						<h2>設定</h2>
					</div>
				</div>
				<!-- end col -->
				<div class="col-md-6">
					<div class="breadcrumb-wrapper">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a asp-area="Seller" asp-controller="Me" asp-action="Dashboard">個人資料</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									設定
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- ========== title-wrapper end ========== -->

		<div class="row">
			<div class="col-lg-12">
				<div class="card-style settings-card-1 mb-30">
					<div class="title mb-30 d-flex justify-content-between align-items-center">
						<h6>個人資料</h6>
					</div>
					<div class="profile-info">
						<form asp-area="Seller" asp-controller="Me" asp-action="Settings" method="post">
							<div>
								<input type="hidden" asp-for="id" />
							</div>
							<div class="input-style-1">
								<label>電子郵件</label>
								<input asp-for="Email" type="email" placeholder="admin@example.com" value="@Model.Email" readonly />

							</div>
							<div class="input-style-1">
								<label>姓名</label>
								<input asp-for="Name" type="text" placeholder="Full Name" value="@Model.Name" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							<div class="input-style-1">
								<label>密碼</label>
								<input asp-for="Password" type="password" value="" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="col-12">
								<input type="submit" class="main-btn primary-btn btn-hover" value="更新資料">
							</div>
						</form>
					</div>
				</div>
				<!-- end card -->
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>