@model IEnumerable<Bake.Areas.Seller.ViewModels.ProductListViewModel>
@if (TempData["Success"] != null)
{
    <script>
        alert("@Html.Raw(TempData["Success"])");
    </script>
}
<!-- ========== section start ========== -->
<section>
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title d-flex align-items-center flex-wrap">
                        <h2 class="mr-40">修改商品</h2>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ======== card style start ========== -->
        <div class="card-style px-0 mb-30">
            <div class="title d-flex flex-wrap pl-30 pr-30 mb-10 align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <h6>排序:</h6>
                    <div class="select-style-1 mb-0 ml-10">
                        <div class="select-position">
                            <select class="p-0 pe-5 border-0">
                                <option value="">日期</option>
                                <option value="">品名</option>
                            </select>
                        </div>
                    </div>
                    <p>
                        <a asp-action="New">Create New</a>
                    </p>
                </div>
            </div>
            <div class="table-wrapper table-responsive task-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class ="min-width">商品名稱</th>
                            <th class="min-width">商品分類</th>
                            <th class="min-width">商品描述</th>
                            <th class="min-width">商品數量</th>
                            <th class="min-width">商品圖片</th>
                            <th class="min-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="min-width">
                                <h5 class="text-bold text-dark">
                                    Admin Dashboard Design
                                </h5>
                            </td>
                            <td class="min-width ">
                                <p>
                                    Admin Dashboard Design
                                </p>
                            </td>
                            <td class="min-width">
                                <p>
                                    Admin Dashboard Design
                                </p>
                            </td>
                            <td class="min-width">
                                <p> 30 Messages</p>
                            </td>
                            <td class="min-width">
                                <div class="employee-image mx-auto">
                                    <img src="assets/images/lead/lead-1.png" alt="" />
                                </div>
                            </td>
                            <td class="min-width">
                                <div class="action justify-content-end">
                                    <button class="text-dark link-btn">
                                        <i class="lni lni-pencil"></i>
                                    </button>
                                    <button class="text-dark delete-btn ml-10">
                                        <i class="lni lni-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- end table -->
            </div>
        </div>
        <!-- ======== card style end ========== -->

    </div>
    <!-- end container -->
</section>
<!-- ========== section end ========== -->
